:root {
  --main-bg-color: #3B4740;
  --text-color: #FFFDF7;
  --title-color: #9FE57A;
}

body {
    align-items: center;
    background-color: var(--main-bg-color);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h1 {
    color: var(--title-color);
}

.post-form {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.post-form button {
    background-color: var(--title-color);
    border: none;
    border-radius: 8px;
    color: var(--text-color);
    text-decoration: none;
}
